PORT=5002
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.dmlpki7.mongodb.net/ANSOYAL_RECRUITER_DB?retryWrites=true&w=majority
ACCESS_TOKEN=vewb37OPcFl2gZrc1zCacjCqsKajDyHfozOG4MOhfAbuUWvj1VE6UbEe
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN=K4JvZ9Y8mIYB55L5Y5Uw0BT0ltYYJaRa3mtBoTqhXHjAMl28grA4kuOx31s
REFRESH_TOKEN_EXPIRY=30d
JWT_SECRET=vewb37OPcFl2gZrc1zCacjCqsKajDyHfozOG4MOhfAbuUWvj1VE6UbEe
JWT_EXPIRES_IN=1d
ANSOYAL_STUDENT_API_URL=http://127.0.0.1:5001/api/v1/recruiter
ANSOYAL_STUDENT_SERVICE_KEY=ansoyal_recruiter_service_secret_secure_key_2026
FRONTEND_URL=http://localhost:5174
